body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("/assets/first.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bg-content h1{
    color: white;
    margin-bottom: 27px;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; /* 113.514% */
    letter-spacing: 0.2px;
  }

  .bg-content h2{
    color: white;
    margin-bottom: 90px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
  }



  button{
    border-radius: 35px;
    background:#2091F9;
    border: none;
    text-align: center;
    color: white;
    padding: 16px 0px;
    width: 236px;
  }