body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("/assets/first.png");
    /* Full height */
    height: 110%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bg-content h1{
    color: white;
    margin-bottom: 27px;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; /* 113.514% */
    letter-spacing: 0.2px;
  }

  .bg-content h2{
    color: white;
    margin-bottom: 90px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
  }

  button{
    border-radius: 35px;
    background:#090086;
    border: none;
    text-align: center;
    color: white;
    padding: 16px 0px;
    width: 236px;
    cursor: pointer;
  }

  button:hover{
    background: #006ed4;
    color: #d8d8d8;
    
  }

  .segundo{
    margin-top: 90px;
    text-align: center;
    gap: 7px;
  }

  .Features{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 114.583% */
    letter-spacing: 0.2px;
  }

  .Features2{
    margin-top: 27px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
  }

  .Features3{
    margin-top: 27px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
    }

  #ICONS8{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .titleicon{
    color:#252B42;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.1px;
    }

.subtitleicon{
margin-top: 20px;

  color:#374754;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.2px;
}
  #contatos{
  margin-top: 226px;
  margin-bottom: 226px;
  }
  .contact{
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 114.583% */
  letter-spacing: 0.2px;
  }
  .subcontact{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
  }
  #botao{
    align-items: center;
  }
  @media (max-width: 719px)
{
  .macbook
   {
    max-width: 100%;
   }
}
.partnerimg{
  max-width: 200px;
  display: flex;
  align-items: center;
}
.partner1 {
  display: flex;
  justify-content: center;
}