body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  footer{
    font-family: 'Montserrat', sans-serif;
  }
  
  .bg {
    /* The image used */
    background-image: url("../assets/first.png");
    /* Full height */
    height: 110%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-content h1{
    color: #FFF;
    margin-bottom: 27px;
    margin-top: 270px;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; /* 113.514% */
    letter-spacing: 0.2px;
  }

  .bg-content h2{
    color: #ffffff;
    margin-bottom: 90px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
  }

  button{
    border-radius: 35px;
    background:#090086;
    border: none;
    text-align: center;
    color: white;
    padding: 16px 0px;
    width: 236px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover{
    background: #006ed4;
    color: #d8d8d8;
  }
  .centro{
    margin-top: 25px;
  }

  .segundo{
    text-align: center;
  }
  .segundo h2{
    margin-top: 100px;
  }

  .videopng{
    background-color: #090086;
  }
  .youtube{
    border-radius: 25px;
  }

  .video{
    background-image: url(xxx);
    padding: 50px;
    opacity: 90%;
  }

  .Features{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 114.583% */
    letter-spacing: 0.2px;
    padding-top: 45px;
  }

  .Features2{
    margin-top: 27px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;

    
  }

  .Features3{
    margin-top: 27px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 30px;
    }
    .Features4{
      margin-top: 0px;
      font-size: 15px;
      font-style: italic;
      font-weight: 400;
      line-height: 40px; /* 142.857% */
      letter-spacing: 0.2px;
    }

  #ICONS8{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .titleicon{
    color:#252B42;
    font-family: Graphik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.1px;
    }

.subtitleicon{
margin-top: 20px;

  color:#374754;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.2px;
}
  #contatos{
  margin-top: 226px;
  margin-bottom: 226px;
  }
  .contact{
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 114.583% */
  letter-spacing: 0.2px;
  }
  .subcontact{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    align-items: left;
  }
  #botao{
    align-items: center;
    font-size: 16px;
  }
  
  @media (max-width: 719px)
{
  #principal{
    font-size: 60px;
  }
  .bg-content h1{
    margin-top: 100px;
  }
  .macbook
   {
    max-width: 100%;
   }
}
.partnerimg{
  max-width: 125px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  filter: grayscale(100%);
}
.partnerimg a:hover{
  cursor: pointer;
}

.partner1 {
  display: flex;
  justify-content: center;
}
#maps1{
  max-width: 200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;

}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
}

.nav-link:hover {
  color: #006ed4;
}

.nav-logo img{
  height: 80px;
}
.red{
  color:red;
  font-size: 100px;
}
.avaliacao{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.star{
  width: 15px;
}

.card .user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.user{
  margin-top: 10px;
}
.cards{
  max-width: 980px;
  margin: 0 auto;
}
.card{
  padding: 15px 20px;
  background-color: #f0f0f0;
  box-shadow: 3px 3px 5px #b6b6b6;
}
.vermais{
  color:#006ed4;
  text-decoration: underline;
}
.avaliacaoh2{
  display: flex;
  justify-content: center;
  margin: 5rem 0 15px 0;
  font-size: 40px;
}
.textoavali{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.partnerbg{
  background-color: #f1f1f1;
}

@media only screen and (max-width: 768px) {
  .navbar{
    justify-content: space-between;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #f0f0f0;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
      
  }
  .nav-link{
    color: #090086;
  }

  .nav-logo img{
    height: 50px;
    justify-content: center;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  
  .botao{
    margin-top: 20px;
    width: 100%;
  }

  .partnerimg{
    border: 2px solid rgb(85, 85, 85);
    max-width: 100% ;
    filter:grayscale(100%)
    
  }
  .mapa iframe{
    max-width: 100%;
    max-height: 100%;
  }
  footer{
    align-items: center;
    text-align: center;
  }

}

/* TESTANDO TESTANDO TESTANDO TESTANDO*/
#contactus{
  margin-top: 100px;
}
#boxcontato{
  margin-top: 20px;
  margin-bottom: 100px;
}
.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
  text-align: left;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.contact-box{
  padding: 15px 20px;
  background-color: #f0f0f0;
  box-shadow: 3px 3px 5px #b6b6b6;
  border-radius: 2%;
}
textarea{
	min-height: 200px;
  resize: none;
}
.endereco{
  font-size: 12px;
  color: black;
  font-weight: 700;
}
.numero{
  font-weight: 600;
}
footer{
  margin-top: 0px;
  color: #fff;
  background-color: #090086;
  padding-bottom: 20px;
}
footer h6{
  margin-top: 20px;
  font-size: 20px;
}
footer a{
  font-size: 13px;
  text-decoration: none;

}
footer a{
  color: #fff;
}
.botao{
  margin-top: 10px;
  align-items: center;
}

footer a:hover{
  text-decoration: underline;
}